* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: darkslategrey;
    font-family: urbanist;
    color: aliceblue;
}
/*photo reel */
#photos {
    clear: both;
    line-height: 0;
    max-width: 100%;
    column-count: 5;
    column-gap: 0;
}

#photos > img {
    width: 100%
}



/* footer of index page styling */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

